# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers PDF générés
public/carousels/*.pdf

# Fichiers Markdown temporaires à la racine
/01_probleme_it.md
/02_services_agenzia.md
/03_roi_performance.md
